{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}">
	<!-- 将csrf_token 渲染在表单开始的位置 -->
	{{ form.csrf_token }}
	<!-- 迭代每一个表单 field -->
	{% for field in form %}
		<!-- 如果是csrf_token就不再渲染 -->
		{% if field.type == "CSRFTokenField" %}
		{{ '' }}
		<!-- SubmitField 单独特殊处理 -->
		{% elif field.type == "SubmitField" %}
		{{ form.submit(class='btn btn-primary',type="submit") }}
		<!-- BooleanField 单独特殊处理 -->
		{% elif field.type == "BooleanField" %}
		<div class="checkbox">
			<label>{{ field() }} {{ field.label.text }}</label>
		</div>
		{% else %}
		<!-- 当errors 不为空，添加has-error 类，这样的输入框就变成红色了 -->
		<div class="form-grop {% if field.errors %}has-error{% endif %}">
			{{ field.label }} {{ field(class='form-control') }}
		<!-- 当error不为空，遍历显示每一个error -->
			{% if field.errors %}
				{% for error in field.errors %}
				<!-- 根据Bootstrap样式错误信息要显示先类为 help-block的span标签中-->
					<span class="help-block">{{ error }}</span>
				{% endfor %}
			{% endif %}
		{% endif %}
		</div>
	{% endfor %}
</form>
{% endmacro %}
